/* SG
# Headings

Heading - H1

```
<h1>Biggest heading</h1>
```
*/
h1 {
    font-size: 3.5em;
}
/* SG
# Headings

Heading - H2

```
<h2>Bigger heading</h2>
```
*/
h2 {
    font-size: 3em;
}
/* SG
# Headings

Heading - H3

```
<h3>Big heading</h3>
```
*/
h3 {
    font-size: 1.5em;
}
/* SG
# Headings

Heading - H4

```
<h4>Small heading</h4>
```
*/
h4 {
    font-size: 1em;
}
/* SG
# Headings

Heading - H5

```
<h5>Smaller heading</h5>
```
*/
h5 {
    font-size: .8em;
}
/* SG
# Headings

Heading - H6

```
<h6>Smallest heading</h6>
```
*/
h6 {
    font-size: .5em;
}
