extend layout

block content
    h2 News - The latest
    ul.boxSection.clearfix
      li.box.news.left
        div
          h3
            a(href='#') Home
          p Demystifying the Role of Artificial Intelligence in Marketing and...
          p.readMore
            a.more(href='#') Read More
      li.box.news.left.open
        div
          h3
            a(href='#') Home
          p Demystifying the Role of Artificial Intelligence in Marketing and...
          p.readMore
            a.more(href='#') Read More
      li.box.news.left
        div
          h3
            a(href='#') Home
          p Demystifying the Role of Artificial Intelligence in Marketing and...
          p.readMore
            a.more(href='#') Read More
      li.box.news.left
        div
          h3
            a(href='#') Home
          p Demystifying the Role of Artificial Intelligence in Marketing and...
          p.readMore
            a.more(href='#') Read More
      li.box.news.left
        div
          h3
            a(href='#') Home
          p Demystifying the Role of Artificial Intelligence in Marketing and...
          p.readMore
            a.more(href='#') Read More
      li.box.news.left
        div
          h3
            a(href='#') Home
          p Demystifying the Role of Artificial Intelligence in Marketing and...
          p.readMore
            a.more(href='#') Read More
      li.box.news.left
        div
          h3
            a(href='#') Home
          p Demystifying the Role of Artificial Intelligence in Marketing and...
          p.readMore
            a.more(href='#') Read More
      li.box.news.left
        div
          h3
            a(href='#') Home
          p Demystifying the Role of Artificial Intelligence in Marketing and...
          p.readMore
            a.more(href='#') Read More
      li.box.news.left
        div
          h3
            a(href='#') Home
          p Demystifying the Role of Artificial Intelligence in Marketing and...
          p.readMore
            a.more(href='#') Read More
