extend layout

block content
    h2 News - The latest
    ul.boxSection.clearfix
      li.box.news.left
        h3
          a(href='#') Home
        p Demystifying the Role of Artificial Intelligence in Marketing and...
        p
          a(href='#') Read More
      li.box.news.left
        h3
          a(href='#') Home
        p Demystifying the Role of Artificial Intelligence in Marketing and...
        p
          a(href='#') Read More
      li.box.news.left
        h3
          a(href='#') Home
        p Demystifying the Role of Artificial Intelligence in Marketing and...
        p
          a(href='#') Read More
      li.box.news.left
        h3
          a(href='#') Home
        p Demystifying the Role of Artificial Intelligence in Marketing and...
        p
          a(href='#') Read More
      li.box.news.left
        h3
          a(href='#') Home
        p Demystifying the Role of Artificial Intelligence in Marketing and...
        p
          a(href='#') Read More
      li.box.news.left
        h3
          a(href='#') Home
        p Demystifying the Role of Artificial Intelligence in Marketing and...
        p
          a(href='#') Read More
      li.box.news.left
        h3
          a(href='#') Home
        p Demystifying the Role of Artificial Intelligence in Marketing and...
        p
          a(href='#') Read More
      li.box.news.left
        h3
          a(href='#') Home
        p Demystifying the Role of Artificial Intelligence in Marketing and...
        p
          a(href='#') Read More
      li.box.news.left
        h3
          a(href='#') Home
        p Demystifying the Role of Artificial Intelligence in Marketing and...
        p
          a(href='#') Read More
