doctype html
html
  head
    title Publicis Sapient
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      .header.clearfix
        h1.left
          a.allCaps(href='#') Publicis.Sapient
        nav.clearfix
          ul.inline
            li
              a(href='#') Home
            li
              a(href='#') About
            li
              a(href='#') Ideas
            li
              a(href='#') Cases
            li
              a(href='#') News
            li
              a(href='#') Contact
      .main
        block content
      .footer
        p &copy; 2016 Publicis.Sapient. All rights reserved.
        nav.clearfix
          ul.inline
            li
              a(href='#') Terms of Use
            li
              a(href='#') Privacy Statement
        nav.clearfix
          ul.inline
            li
              a(href='#') About
            li
              a(href='#') Ideas
            li
              a(href='#') Cases
            li
              a(href='#') News
            li
              a(href='#') Contact
